<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments :: head">
		
		
	</head>
<body>
	<header th:replace="fragments :: header"></header>
	<main>
		<div class="container-md  text-center">
			<div class="row">
				<div class="col-10 mx-auto py-3 ">
					<h2 th:text="'Best ' + ${listType}"></h2>				
				</div>
				
				<div class="card mx-auto" style="width: 18rem;">
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"
						th:each="element : ${list}">
					
						<a th:href="@{/songs/{elementId}(elementId=${element.id})}" >
							[[${element.title}]]
						</a>
						
					</li>
				  </ul>
				</div>
				
			</div>
		</div>
			
	</main>
	
</body>
</html>
